version: '3.9'

services:
  postgres:
    image: postgres:15
    container_name: Share_space_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: Share_space
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres -d Share_space']
      interval: 3s
      timeout: 3s
      retries: 10

volumes:
  postgres_data:    
